  
    <div >
      <h4>*<%= event.title %></h4>
          <p>Details:</p>
          <p class="comment"><%= event.description %></p>
          <p class="comment">Date/Time: <%= event.date %> </p>
          <p><%= event.date %></p>
          <p>Created <%= distance_of_time_in_words(Time.now, event.created_at) %> ago</p>
    </div>
    