<h1>User ID: <%= @event.title %></h1>
    <p><%= @event.description %></p>
    <p><%= @event.date %></p>

<%= link_to "<< Back to All Users", users_path %>
<%= link_to "<< Back to All Events", events_path %>
    


